
<% if signed_in? %>
    <h1>Users</h1>
    <% @users.each do |user| %>
        <% unless user.id == current_user.id %>
            <hr/>
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h6 class="border-bottom pb-2 mb-0">Users</h6>
                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                        <div class="d-flex justify-content-between">
                            <strong class="text-gray-dark"><%= link_to "#{user.name} #{user.surname}", user_path(user.id), class: "nav-link px-2 text-dark" %></strong>
                            <%= button_to "Like" , like_user_path(user.id), class: "btn btn-danger" %>
                        </div>
                    <span class="d-block">@<%= "#{user.name} #{user.surname}" %></span>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
    <hr/>
<% else %>
    <p><a href='http://localhost:3000/session/new' onmouseup="PaintHref(event, '#ffc107', '#0d6efd')" onmousedown="PaintHref(event, '#ffc107', '#0d6efd')"></a></p>
<% end %>

